@charset "UTF-8";
/* Variables */
/* Reglas generales */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

h1, h2, h3 {
  text-align: center;
  color: #ff6600;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul, ol {
  list-style: none;
  padding: 0;
}

/* Estilo para la breve descripción del grupo */
.elegant-paragraph {
  text-align: center;
}

/* Estilos para la sección Members */
.members-section {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.members-title {
  font-size: 24px;
  color: #ff6600;
  margin-bottom: 20px;
}

.members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.members-list li {
  width: 200px;
  margin: 10px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-weight: bold;
  color: #333;
}

.members-list li:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.members-list img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Estilo para la imagen */
.logo {
  text-align: center;
}

/* Estilo para el Navbar */
.navbar {
  background-color: transparent;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline;
  margin-right: 20px;
}
.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.navbar a:hover {
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  transform: scale(1.05);
}

/* Estilo para la sección History */
.history-section {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.history-title {
  font-size: 28px;
  color: #ff3300;
  margin-bottom: 20px;
}

/* Estilos para eventos históricos */
details {
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
details:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
details summary {
  font-weight: bold;
  color: #ff6600;
  cursor: pointer;
  transition: color 0.3s ease;
}
details summary:hover {
  color: #ff3300;
}
details p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  opacity: 0.8;
}
details[open] p {
  color: #333;
}

/* Estilo para el footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  clear: both;
}
footer a {
  text-decoration: none;
  color: #ff6600;
  transition: color 0.3s ease;
}
footer a:hover {
  color: #ff3300;
  text-decoration: underline;
}
footer div {
  width: 33.33%;
  float: left;
  padding: 0 20px;
  box-sizing: border-box;
}
footer div h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
footer div p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
footer div ul {
  list-style: none;
  padding: 0;
}
footer div ul li {
  margin-bottom: 5px;
  font-size: 18px;
}
footer div ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}
footer div ul li a:hover {
  text-decoration: underline;
}

/* Estilos para Stage */
.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.video-section .video-link {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  margin-bottom: 10px;
}
.video-section iframe {
  width: 560px;
  height: 315px;
  border: 0;
}

/* Estilo para la página Discography */
.album-list {
  text-align: center;
}
.album-list li {
  display: inline-block;
  text-align: left;
  margin: 10px;
  transition: transform 0.3s;
}
.album-list li img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}
.album-list li:hover {
  transform: scale(1.05);
}

/* Estilo para discography en index */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Estilos de la sección "Discography" */
.discography-title {
  font-size: 28px;
  color: #ff3300;
  text-align: center;
  margin-top: 20px;
}

.albums-images {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.albums-images li {
  width: 250px;
  margin: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.albums-images li:hover {
  transform: scale(1.05);
}

.albums-images img {
  max-width: 100%;
  border-radius: 5px;
}

/* Estilos de la lista de canciones */
.song-list {
  list-style: none;
  padding: 0;
  text-align: left;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

.song-list li {
  margin: 5px 0;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
